

@if (profile != null)
{

    <header id="header" class="header-area style-01 layout-03">
        <div class="header-top bg-main hidden-xs" style="background:#444fac">
            <div class="container">
                <div class="top-bar left">
                    <ul class="horizontal-menu">
                        @if (profile != null)
                        {

                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>@profile.Email</a></li>
                        }
                        <li><a href="#">Free Shipping for all Order of $99</a></li>
                    </ul>
                </div>
                <div class="top-bar right">
                    <ul class="social-list">
                        @if (profile != null)
                        {
                            @if (profile.FacebookLink != null)
                            {
                                <li><a href="@profile.FacebookLink"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            }
                            @if (profile.TikTokLink != null)
                            {
                                <li><a href="@profile.FacebookLink"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            }
                        }

                    </ul>
                    <ul class="horizontal-menu">
                        <li><a href="/dang-nhap" class="login-link"><i class="biolife-icon icon-login"></i>Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
            <div class="container">
                <div class="row">
                    @if (profile != null)
                    {
                        <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                            <a onclick="window.location.href='/'" class="biolife-logo"><img src="@(string.IsNullOrEmpty(profile.FilePath) ? "/Img_Dev/banner.png" : profile.FilePath)" alt="biolife logo" width="135" height="34"></a>
                        </div>
                    }

                    <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                        <div class="primary-menu">
                            <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                                <li class="menu-item"><a href="/">Trang chủ</a></li>
                                <li class="menu-item menu-item-has-children has-child">
                                    <a href="/san-pham" class="menu-name" data-title="Products">Sản phẩm</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#">Omelettes</a></li>
                                        <li class="menu-item"><a href="#">Breakfast Scrambles</a></li>
                                        <li class="menu-item menu-item-has-children has-child">
                                            <a href="#" class="menu-name" data-title="Máy đo nhiệt lượng">Máy đo nhiệt lượng</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="#">Classic Breakfast</a></li>
                                                <li class="menu-item"><a href="#">Huevos Rancheros</a></li>
                                                <li class="menu-item"><a href="#">Everything Egg Sandwich</a></li>
                                                <li class="menu-item"><a href="#">Egg Sandwich</a></li>
                                                <li class="menu-item"><a href="#">Vegan Burrito</a></li>
                                                <li class="menu-item"><a href="#">Biscuits and Gravy</a></li>
                                                <li class="menu-item"><a href="#">Bacon Avo Egg Sandwich</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="#">Griddle</a></li>
                                        <li class="menu-item menu-item-has-children has-child">
                                            <a href="#" class="menu-name" data-title="Sides & Extras">Sides & Extras</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="#">Breakfast Burrito</a></li>
                                                <li class="menu-item"><a href="#">Crab Cake Benedict</a></li>
                                                <li class="menu-item"><a href="#">Corned Beef Hash</a></li>
                                                <li class="menu-item"><a href="#">Steak & Eggs</a></li>
                                                <li class="menu-item"><a href="#">Oatmeal</a></li>
                                                <li class="menu-item"><a href="#">Fruit & Yogurt Parfait</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="#">Biscuits</a></li>
                                        <li class="menu-item"><a href="#">Seasonal Fruit Plate</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children has-child">
                                    <a href="/tin-tuc" class="menu-name" data-title="Products">Tin tức</a>
                                    <ul class="sub-menu">
                                        @if (cateIntroduces != null && cateIntroduces.Any())
                                        {
                                            @foreach (var item in cateIntroduces)
                                            {
                                                <li class="menu-item"><a onclick="window.location.href='/tin-tuc?c=@item.Id'">@item.Name</a></li>
                                            }
                                        }
                                       
                                       
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="/lien-he">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                        <div class="biolife-cart-info">
                            <div class="mobile-search">
                                <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                                <div class="mobile-search-content">
                                    <form action="#" class="form-search" name="mobile-seacrh" method="get">
                                        <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                                        <input type="text" name="s" class="input-text" value="" placeholder="Search here...">
                                        <select name="category">
                                            <option value="-1" selected>All Categories</option>
                                            <option value="vegetables">Vegetables</option>
                                            <option value="fresh_berries">Fresh Berries</option>
                                            <option value="ocean_foods">Ocean Foods</option>
                                            <option value="butter_eggs">Butter & Eggs</option>
                                            <option value="fastfood">Fastfood</option>
                                            <option value="fresh_meat">Fresh Meat</option>
                                            <option value="fresh_onion">Fresh Onion</option>
                                            <option value="papaya_crisps">Papaya & Crisps</option>
                                            <option value="oatmeal">Oatmeal</option>
                                        </select>
                                        <button type="submit" class="btn-submit">go</button>
                                    </form>
                                </div>
                            </div>
                            <div class="wishlist-block hidden-sm hidden-xs">
                                <a href="#" class="link-to">
                                    <span class="icon-qty-combine">
                                        <i class="icon-heart-bold biolife-icon"></i>
                                        <span class="qty">4</span>
                                    </span>
                                </a>
                            </div>
                            <div class="minicart-block">
                                <div class="minicart-contain">
                                    <a href="javascript:void(0)" class="link-to">
                                        <span class="icon-qty-combine">
                                            <i class="icon-cart-mini biolife-icon"></i>
                                            <span class="qty">8</span>
                                        </span>
                                        <span class="title">Giỏ hàng</span>
                                    </a>
                                    <div class="cart-content">
                                        <div class="cart-inner">
                                            <ul class="products">
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img src="https://bizweb.dktcdn.net/thumb/large/100/522/662/products/2c23t-2-channels-oscilloscope-multimeter.webp?v=1732161012993" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id123][qty]">Qty:</label>
                                                                <input type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img src="https://bizweb.dktcdn.net/thumb/large/100/522/662/products/2c23t-2-channels-oscilloscope-multimeter.webp?v=1732161012993" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id124][qty]">Qty:</label>
                                                                <input type="number" class="input-qty" name="cart[id124][qty]" id="cart[id124][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img src="https://bizweb.dktcdn.net/thumb/large/100/522/662/products/2c23t-2-channels-oscilloscope-multimeter.webp?v=1732161012993" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id125][qty]">Qty:</label>
                                                                <input type="number" class="input-qty" name="cart[id125][qty]" id="cart[id125][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="minicart-item">
                                                        <div class="thumb">
                                                            <a href="#"><img src="https://bizweb.dktcdn.net/thumb/large/100/522/662/products/2c23t-2-channels-oscilloscope-multimeter.webp?v=1732161012993" width="90" height="90" alt="National Fresh"></a>
                                                        </div>
                                                        <div class="left-info">
                                                            <div class="product-title"><a href="#" class="product-name">National Fresh Fruit</a></div>
                                                            <div class="price">
                                                                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                                                                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                                                            </div>
                                                            <div class="qty">
                                                                <label for="cart[id126][qty]">Qty:</label>
                                                                <input type="number" class="input-qty" name="cart[id126][qty]" id="cart[id126][qty]" value="1" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="action">
                                                            <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <p class="btn-control">
                                                @* <a href="#" class="btn view-cart">view cart</a> *@
                                                <a href="/checkout-order" class="btn">Thanh toán</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-menu-toggle">
                                <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="vertical-menu vertical-category-block">
                            <div class="block-title" style="background:#444fac">
                                <span class="menu-icon">
                                    <span class="line-1"></span>
                                    <span class="line-2"></span>
                                    <span class="line-3"></span>
                                </span>
                                <span class="menu-title">Tất cả danh mục</span>
                                <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                            <div class="wrap-menu">
                                <ul class="menu clone-main-menu">
                                    <li class="menu-item menu-item-has-children has-child">
                                        <a href="#" class="menu-name" data-title="Butter & Eggs"><i class="biolife-icon icon-honey"></i>Máy đo áp suất</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item menu-item-has-children has-child">
                                                <a href="#" class="menu-name" data-title="Máy đo nhiệt lượng">Máy đo nhiệt lượng</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children has-child">
                                        <a href="#" class="menu-name" data-title="Butter & Eggs"><i class="biolife-icon icon-honey"></i>Máy đo áp suất</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item menu-item-has-children has-child">
                                                <a href="#" class="menu-name" data-title="Máy đo nhiệt lượng">Máy đo nhiệt lượng</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children has-child">
                                        <a href="#" class="menu-name" data-title="Butter & Eggs"><i class="biolife-icon icon-honey"></i>Máy đo áp suất</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                            <li class="menu-item menu-item-has-children has-child">
                                                <a href="#" class="menu-name" data-title="Máy đo nhiệt lượng">Máy đo nhiệt lượng</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="#">Máy đo nhiệt lượng</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 padding-top-2px">
                        <div class="header-search-bar layout-01">
                            <form action="#" class="form-search" name="desktop-seacrh" method="get">
                                <input type="text" name="s" class="input-text" value="" placeholder="Search here...">
                                <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                            </form>
                        </div>
                        <div class="live-info">
                            <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">@profile.PhoneNumber</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}


@code{
    [Parameter]
    public Guid id { get; set; }
    private ProfileInfoDto profile;
    private IEnumerable<CategoryIntroduceDto> cateIntroduces;


    protected override async Task OnInitializedAsync()
    {
        await GetprofileById();
        cateIntroduces = await _introducesServices.GetAllCategoryIntroduces();
    }


    private async Task GetprofileById()
    {
        var response = await _profileServices.GetProfileAsync(id);

        if (response != null && response.Success)
        {
            profile = response.Data;
        }
    }
}