@using global::Shared.DTO.Profile


@if(profile != null)
{
    <footer id="footer" class="footer layout-03">
        <div class="footer-content background-footer-03">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-9">
                        <section class="footer-item">
                            <a onclick="window.location.href='/'" class="logo footer-logo"><img src="@(string.IsNullOrEmpty(profile.FilePath) ? "/Img_Dev/banner.png" : profile.FilePath)" alt="biolife logo" width="135" height="34"></a>
                            <div class="footer-phone-info">
                                <i class="biolife-icon icon-head-phone"></i>
                                <p class="r-info">
                                    <span>Điện thoại tư vấn ?</span>
                                    <span>@profile.PhoneNumber</span>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Danh mục</h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                            <li><a onclick="window.location.href='/'" style="cursor: pointer">Trang chủ</a></li>
                                            <li><a onclick="window.location.href='/san-pham'" style="cursor: pointer">Sản phẩm</a></li>
                                            <li><a onclick="window.location.href='/tin-tuc'" style="cursor: pointer">Tin tức</a></li>
                                            <li><a onclick="window.location.href='/lien-he'" style="cursor: pointer">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-xs-6">
                                    <div class="wrap-custom-menu vertical-menu-2">
                                        <ul class="menu">
                                          
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 md-margin-top-5px sm-margin-top-50px xs-margin-top-40px">
                        <section class="footer-item">
                            <h3 class="section-title">Thông tin </h3>
                            <div class="contact-info-block footer-layout xs-padding-top-10px">
                                <ul class="contact-lines">
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-location"></i>
                                            <b class="desc">@profile.Address</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-phone"></i>
                                            <b class="desc">Phone: @profile.PhoneNumber</b>
                                        </p>
                                    </li>
                                    <li>
                                        <p class="info-item">
                                            <i class="biolife-icon icon-letter"></i>
                                            <b class="desc">Email:  @profile.Email</b>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="biolife-social inline">
                                <ul class="socials">
                                    @if(profile.FacebookLink != null)
                                    {
                                        <li><a href="@profile.FacebookLink" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

                                    }
                                    @if (profile.TikTokLink != null)
                                    {

                                        <li><a href="@profile.TikTokLink" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="separator sm-margin-top-70px xs-margin-top-40px"></div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        @* <div class="copy-right-text"><p><a href="templateshub.net">Templates Hub</a></p></div> *@
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="payment-methods">
                            <ul>
                                <li><a href="#" class="payment-link"><img src="assets/images/card1.jpg" width="51" height="36" alt=""></a></li>
                                <li><a href="#" class="payment-link"><img src="assets/images/card2.jpg" width="51" height="36" alt=""></a></li>
                                <li><a href="#" class="payment-link"><img src="assets/images/card3.jpg" width="51" height="36" alt=""></a></li>
                                <li><a href="#" class="payment-link"><img src="assets/images/card4.jpg" width="51" height="36" alt=""></a></li>
                                <li><a href="#" class="payment-link"><img src="assets/images/card5.jpg" width="51" height="36" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}


@code {
    [Parameter]
    public Guid id { get; set; }
    private ProfileInfoDto profile;


    protected override async Task OnInitializedAsync()
    {
        await GetprofileById();
    }


    private async Task GetprofileById()
    {
        var response = await _profileServices.GetProfileAsync(id);

        if (response != null && response.Success)
        {
            profile = response.Data;
        }
    }
}